<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\MaintenanceMode">
        <plugin name="use_db_flag_instead_of_file" type="MageSuite\MaintenanceMode\Plugin\Framework\App\MaintenanceMode\UseDbFlagInsteadOfFile"/>
    </type>
</config>
